
<div class="gv-text-section"></div>
    <div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="ndc-interactive-wrapper">
            	<div class="key-container">
            		<div class='analysed-countries'>
            				<p>Analysed countries</p>
            				<div class='key-row'>
            					<div class='key-color-container'>
		            				<div class='key-color rating-1'></div>
		            				<div class='key-text'>Submitted stronger NDC targets</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-2'></div>
			            			<div class='key-text'>Proposed stronger NDC targets	</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-3'></div>
			            			<div class='key-text'>Did not increase ambition</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-4'></div>
			            			<div class='key-text'>Will not propose more ambitious targets</div>
			            		</div>
            				</div>
		            		
            		</div>
            		<div class='non-analysed-countries'>
            			<p>Not analysed</p>
            			<div class='key-row'>
		            		<div class='key-color-container'>
		            			<div class='key-color rating-5'></div>
		            			<div class='key-text'>Submitted new NDC targets</div>
		            		</div>
		            		<div class='key-color-container'>
		            			<div class='key-color rating-6'></div>
		            			<div class='key-text'>Proposed new NDC targets</div>
		            		</div>
		            	</div>
	            	</div>
            	</div>
				<div class="map-container">
					<div class='tooltip-map-list'></div>
				</div>
				<div class="blobs-furniture">
					<div class="blob-header" id="header-1">Critically insufficient</div>
					<div class="blob-header" id="header-2">Highly insufficient</div>
					<div class="blob-header" id="header-3">Insufficient</div>
					<div class="blob-header" id="header-4">Almost sufficient</div>
					<div class="blob-header" id="header-5">Paris Agreement compatible</div>
				</div>
			</div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>Majority of countries have improved pledges</h2>
                    <p>According to the Climate Action Tracker, 22 countries out of 36 that were analysed submitted stronger NDC targets. This included some of the world's largest emitters.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>USA carbon cuts significant but insufficient</h2>
                    <p>In what is described as a "significant step forward", the new USA plan would result in an annual CO2 emissions reduction of 1.5-2.5 gigatonnes. But this is still about 5 to 10% short of a 1.5˚c compatible 2030 target, meaning the USA’s pledge is still insufficient.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>China moving to net zero before 2060</h2>
                    <p>Similarly, China has improved its pledge. It has said that it plans to peak emissions before 2030 and reach net zero by 2060. This is an improvement on its 2015 targets, but still deemed to be insufficient for the 1.5˚c target.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>EU almost sufficient with emissions halving by 2030</h2>
                    <p>The EU plans to cut emissions by 55% by 2030, which is deemed "almost sufficient" to hold warming below 2˚c. It falls short in the area of climate finance, which leaves it with an overall rating of insufficient.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>India’s new offer of 2070 net zero</h2>
                    <p>India set a 2070 net-zero target at Glasgow and promised to generate half of its electricity from renewables by 2030. This helped to improve its rating to "insufficient", up from the previous assessment of "highly insufficient".</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>No increased ambition from Brazil</h2>
                    <p>Other major players, however, have not increased ambitions. Brazil is pushing the world towards a catastrophic 4˚c of warming because it is weakening forest protection policies. Brazil is in the most irresponsible category: overall, it is deemed highly insufficient. </p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>Australia</h2>
                    <p>Australia came to Glasgow with a new 2050 net-zero target but almost no detail on how that will be achieved. This leaves it as one of the world's worst climate laggards with policies on course for warming of 4˚c.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>Despite improvements, no pledges are sufficient yet</h2>
                    <p>Overall, despite improved pledges from 22 countries, Climate Action Tracker warns that none of them actually have sufficient targets to limit global warming to 1.5˚c. Their research shows the world is still on course for disastrous levels of global heating at 2.4˚c.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gv-text-section"></div>
