
<div class="gv-text-section"></div>
    <div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="ndc-interactive-wrapper">
            	<div class="key-container">
            		<div class='analysed-countries'>
            				<p>Analysed countries</p>
            				<div class='key-row'>
            					<div class='key-color-container'>
		            				<div class='key-color rating-1'></div>
		            				<div class='key-text'>Submitted stronger NDC targets</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-2'></div>
			            			<div class='key-text'>Proposed stronger NDC targets	</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-3'></div>
			            			<div class='key-text'>Did not increase ambition</div>
			            		</div>
			            		<div class='key-color-container'>
			            			<div class='key-color rating-4'></div>
			            			<div class='key-text'>Will not propose more ambitious targets</div>
			            		</div>
            				</div>
		            		
            		</div>
            		<div class='non-analysed-countries'>
            			<p>Not analysed</p>
            			<div class='key-row'>
		            		<div class='key-color-container'>
		            			<div class='key-color rating-5'></div>
		            			<div class='key-text'>Submitted new NDC targets</div>
		            		</div>
		            		<div class='key-color-container'>
		            			<div class='key-color rating-6'></div>
		            			<div class='key-text'>Proposed new NDC targets</div>
		            		</div>
		            	</div>
	            	</div>
            	</div>
				<div class="map-container">
					<div class='tooltip-map-list'>
						<div class="tooltip-country"></div>
						<div class="tooltip-ndc-rating"></div>
						<div class="tooltip-ndc-date"></div>
						<div class="tooltip-pledge"></div>
						<div class="tooltip-pledge-date"></div>
					</div>
				</div>
			</div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>Majority of countries have improved pledges</h2>
                    <p>According to the Climate Action Tracker, 22 countries out of 40 that were analysed submited stronger NDC targets at Cop26. This included some of the world's largest emitters such as China and the USA.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>USA made significant step forward</h2>
                    <p>In what the Climate Action Tracker describes as a "significant step forward", the new US would result in 1.5-2.5 GtCO2e/yr lower emissions in 2030. Although this is still about 5% to 10% points short of a 1.5˚C compatible 2030 target. This means the USA’s pledge is still insufficient.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>China moving to net zero before 2060</h2>
                    <p>Similarly, the Chinese pledge has improved at Cop26 but is still deemed to be insufficient for limiting global warming to 1.5˚C.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>No increased ambition from Brazil</h2>
                    <p>Other major players, however, have not increased their ambitions at all. TBC: Brazil text goes here.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<h2>Only [xxx] countries have sufficient pledges</h2>
                    <p>Despite the improved pledges of 22 countries, the Climate Action Tracker warns that only [xxx] of these have sufficient targets to limit global warming to 1.5˚C.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gv-text-section"></div>
